/*CALENDAR*/
.calendarWeek {
    width: 90vw;
    height: 1000px;
    margin: 50px auto;
    text-align: center;
}

.calendarWeek td {
    padding: 10px;
    border: 1px grey solid;
    vertical-align: top;
    border-collapse: collapse;
    width: 12%;
}

.box-cal {
    padding: 10px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-controller {
    width: 80px;
    display: flex;
    justify-content: space-evenly;
}

/*BOUTTON CONTROLLER*/
.btn-ctrl .fas {
    color: black;
    font-size: 2em;
}
.btn-ctrl .fas:hover {
    color: dodgerblue;
    transition: .5s;
}