.Event{
    margin: 30px;
    width: 80%;
    text-align: center;
    border: 5px double white;
    padding: 50px;
    background: black;
    opacity: .8;
    color: white;
}
.event-label
{
    text-decoration: underline;
    font-family: "Dead Revolution", serif;
    text-align: center;
    margin: 20px auto;
}
.event-infos{
    font-weight: bold;
color: limegreen;
}
.main-event{
    font-size: 1.5em;
}